name: Manual Test Run

on:
  workflow_dispatch:
    inputs:
      test_suite:
        description: 'Test suite to run'
        required: true
        default: 'all'
        type: choice
        options:
        - all
        - homepage
        - registration
        - smoke
        - regression
permissions:
  contents: write

jobs:

  test:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '6.0.x'
    
    - name: Restore dependencies
      run: dotnet restore
    
    - name: Build
      run: dotnet build --no-restore
    
    - name: Install Chrome
      run: |
        sudo apt-get update
        sudo apt-get install -y google-chrome-stable

    - name: Run tests
      run: |
        if [ "${{ github.event.inputs.test_suite }}" = "homepage" ]; then
          dotnet test --logger "trx;LogFileName=TestResults.trx" --results-directory allure-results --filter "FullyQualifiedName~HomePage"
        elif [ "${{ github.event.inputs.test_suite }}" = "registration" ]; then
          dotnet test --logger "trx;LogFileName=TestResults.trx" --results-directory allure-results --filter "FullyQualifiedName~Registration"
        elif [ "${{ github.event.inputs.test_suite }}" = "smoke" ]; then
          dotnet test --logger "trx;LogFileName=TestResults.trx" --results-directory allure-results --filter "Category=Smoke"
        elif [ "${{ github.event.inputs.test_suite }}" = "regression" ]; then
          dotnet test --logger "trx;LogFileName=TestResults.trx" --results-directory allure-results --filter "Category=Regression"
        else
          dotnet test --logger "trx;LogFileName=TestResults.trx" --results-directory allure-results
        fi
      env:
       DOTNET_ENVIRONMENT: Test

    - name: List allure-results directory contents
      run: ls -la allure-results

    - name: Upload test results
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: test-results
        path: TestResults

    - name: Generate Allure Report
      uses: simple-elf/allure-report-action@master
      if: always()
      with:
        allure_results: allure-results
        allure_report: allure-report
        gh_pages: gh-pages
        allure_history: allure-history
        keep_reports: 20

    - name: Deploy report to Github Pages
      if: always()
      uses: peaceiris/actions-gh-pages@v3
      with:
        personal_token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
        publish_branch: gh-pages
        keep_files: true
        publish_dir: allure-report
        cname: maquina299.github.io